{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well well-sm">
                    <h3>{{ .Title }}</h3>
                    <hr>
<style type="text/css">
blockquote {
  position: relative;
  border:none;
  font-family:Georgia, "Times New Roman", Times, serif;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote h3 {
  font-size:21px;
}

blockquote h3:before {
  position: absolute;
  top: 20px;
  left: 0;
  content: open-quote;
  font-weight: bold;
  font-size:50px;
  color:#889c0b;
} 
blockquote h3:after { 
  content: close-quote;
  font-weight: bold;
  font-size:50px;
  color:#889c0b;
}
</style>
<blockquote><h3>{{ .Description }}</h3></blockquote>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="well well-sm"> <!-- Post-specific stats -->
                <h4>{{ .Date.Format "Monday, January 2, 2006" }}<br>
                <small>{{ .WordCount }} words</small></h4>
                <hr>
                <strong>Categories</strong><br>
                {{ range .Params.categories }}<a class="label label-default" href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                <hr>
                <strong>Tags</strong><br>
                {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            </div>
            {{ partial "menu.html" . }}
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
