body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

/************Timeline**************/
ol.timeline, ul.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Timeline Container */
.timeline {
  border-left: 5px solid lightgray;
  padding-bottom: 3em;
  position: relative; 
  }
  .timeline:before {
    content: "";
    position: absolute;
    bottom: -1.67em;
    left: -1.47em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: lightgray;
    border: 5px solid lightgray; 
  }

/* Individual Timeline Item */
.tl-node {
  padding-left: 2em;
  margin-bottom: 3em;
  position: relative; 
  }
  .tl-node a {
    display: block; 
  }
  .tl-node:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.47em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: lightgray;
    border: 5px solid lightgray;
  }
  .tl-content a {
  }

/* Timestamp */
.tl-stamp {
  font-size: 0.9em;
  }

.tl-danger:before {
  background: #ff6633;
}
.tl-warning:before {
  background: orange;
}
.tl-info:before {
  background: #9cf
}
.tl-success:before {
  background: lightgreen;
}


/************End Timeline**************/

.btn-circle, .btn-circle-3d{
  border-radius: 50% !important;
}

s {
  color: gray;
}

.dropdown-menu {
  min-width:???px;
}

.search-result p {
  padding-left: 20px;
  padding-right: 4px;
}

.intro-header {
  position: relative;
  top: -30px;
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 5px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 100px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

/*
 * http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
 */
.navbar-default {
  background-color: #336699;
  border-color: #336699;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3399cc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3399cc;
}
.navbar-default .navbar-toggle {
  border-color: #3399cc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3399cc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3399cc;
  }
}
